---
layout: default
robots: noindex
---
{% comment %} 
  TODO: move to a module or component or whatevs, since we use it in some other places!
{% endcomment %}
{% if site.twitter_contact %}
  <section id="contact">
    <div class="twitter-contact">
      <a href="https://twitter.com/intent/tweet?screen_name={{ site.twitter_contact }}&ref_src=twsrc%5Etfw" 
        class="twitter-mention-button" data-dnt="true" data-show-count="false">Tweet to @{{ site.twitter_contact }}</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </section>
{% endif %}
<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>
        <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">Read More &raquo;</a></p>
        <div class="post-list__meta">
            <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time>
            {% if post.tags.size > 0 %}
            &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
            {% endif %}
        </div>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
