---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d %H:%M" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
      {% if page.tags.size > 0 %}
      &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  {% comment %} 
    TODO: move to a module or component or whatevs, since we use it in some other places!
  {% endcomment %}
  {% if site.twitter_contact %}
    <section id="contact">
      <div class="twitter-contact">
        <a href="https://twitter.com/intent/tweet?screen_name={{ site.twitter_contact }}&ref_src=twsrc%5Etfw" 
          class="twitter-mention-button" data-dnt="true" data-show-count="false">Tweet to @{{ site.twitter_contact }}</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </section>
  {% endif %}
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
