body {
  color: #bbb !important;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #272727 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
}

#buttons {
  text-align: center;
}

div p,
ul {
  font-size: 1.4em;
}

h1,
h2,
h3 {
  color: #f36633e7;
  text-shadow: 0.01em 0.01em 0.01em #f36633f3;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

a {
  font-weight: 600;
}
