body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	margin: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

#buttons {
	text-align: center;
}

div p, ul{
	font-size: 1.4em;
}

h1, h2, h3 {
	text-shadow: .01em .01em .01em #777;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}